body,
h3 {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__logo {
    width: 40px;
    height: 40px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0; }
  .menu__item {
    margin-right: 20px;
    line-height: 14px;
    font-weight: 500;
    font-size: 12px; }
    .menu__item:last-child {
      margin: 0; }
  .menu__link {
    display: block;
    position: relative;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease; }
    .menu__link:hover {
      color: #00acdc; }
    .menu__link::after {
      content: "";
      position: absolute;
      opacity: 0;
      background-size: contain;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: #00acdc;
      border-radius: 8px; }

.is-active {
  color: #00acdc; }
  .is-active::after {
    opacity: 1; }

.card {
  width: 200px;
  padding: 30px 14px 15px;
  margin-right: 48px;
  background-color: #fff;
  color: #000;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.25s ease;
  transition: -webkit-box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card:last-child {
    margin-right: 0; }
  .card__img {
    width: 160px;
    height: 134px;
    margin-left: 5px; }
  .card__description {
    margin-top: 42px; }
    .card__description__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px; }
    .card__description__code {
      margin-top: 5px; }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px; }
  .rating__star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.star {
  width: 15px;
  height: 15px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px; }
  .star:nth-child(-n+4) {
    background-image: url(../images/star-active.svg); }
  .star:last-child {
    margin-right: 0; }

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 20px 0; }
  .price__block__amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; }

.button__link {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00acdc;
  color: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .button__link:hover {
    background-color: #fff;
    color: #00acdc; }

.main {
  margin-top: 50px; }

.row__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }

/*# sourceMappingURL=main.css.map */
